<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark blue fixed-top">
    <a class="navbar-brand" href="#"><img src="assets/images/logo.png" width="140" alt=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="margin-left: auto">
            <li class="nav-item" id="homeMenu">
                <a class="nav-link" routerLink="/inicio">Inicio</a>
            </li>
            <li class="nav-item dropdown" id="serviceMenu">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Servicios
                </a>
                <div class="dropdown-menu blue" aria-labelledby="navbarDropdown" style="background-color: rgba(0, 120, 193, .85)">
                    <a class="dropdown-item" routerLink="/oficinas">Limpieza para Oficinas</a>
                    <a class="dropdown-item" routerLink="/comunidades">Limpieza para Comunidades</a>
                    <a class="dropdown-item" routerLink="/ventanas">Limpieza de Cristales</a>
                    <a class="dropdown-item" routerLink="/conductos">Limpieza de Conductos</a>
                    <a class="dropdown-item" routerLink="/controlplagas">Servicio de Pest-control</a>
                    <a class="dropdown-item" routerLink="/serviciodomestico">Servicios Domésticos</a>
                    <a class="dropdown-item" routerLink="/servicioasistencial">Servicios Asistenciales</a>
                    <a class="dropdown-item" routerLink="/lavanderia">Servicio de Lavandería</a>
                </div>
            </li>
            
            <li class="nav-item dropdown" id="quoteMenu">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Presupuestos en Linea
                </a>

                <div class="dropdown-menu blue" aria-labelledby="navbarDropdown" style="background-color: rgba(0, 120, 193, .85)">
                    <a class="dropdown-item" routerLink="/presupuesto" onclick="setTimeout(function(){location.reload()},200)">Presupuesto Oficinas</a>
                    <a class="dropdown-item" routerLink="/presupuestocondominios" onclick="setTimeout(function(){location.reload()},200)">Presupuesto Comunidades</a>
                    <a class="dropdown-item" routerLink="/presupuestopuntual" onclick="setTimeout(function(){location.reload()},200)">Presupuesto Puntuales</a>
                </div>
            </li>
            <li class="nav-item" id="contactMenu">
                <a class="nav-link" routerLink="/contacto">Contáctenos</a>
            </li>
        </ul>
    </div>
</nav>

<div class="" style="margin-top:73px">
    <router-outlet></router-outlet>

    <footer>
        <h5 class="text-white">&copy; 2018 - Serlaux</h5>
        <a class=text-primary href="tel:902121131"> <span class="fa-phone fa" style="margin-right:5px"></span> 902 121 131 </a> <br />
        <a class=text-primary href="mailto:admin@serlaux.com"><span class="fas far fa-envelope" style="margin-right:5px"></span>admin@serlaux.com</a>
    </footer>
</div>
