<style>
    td {
        text-align: justify
    }
</style>
<!-- <script src="https://code.jquery.com/jquery-1.10.2.js"></script> -->
<div id="carouselExampleIndicators" class="carousel slide d-print-none" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="assets/images/comunidad3.jpg" alt="First slide">
        </div>
    </div>
</div>
<div class="blue d-print-none">
    <div class="carruselTitle">
        <h3>Presupuesto para Comunidades</h3>
    </div>
</div>
<div class="container">
    <br>
    <div class="row" id="section-to-print">
        <div class="col-sm-10 offset-sm-1" style="margin-top: 10px">
            <div class="d-print-none">
                <h2 class="text-primary">Calcule su Presupuesto </h2>
                <p>
                    Si no tiene experiencia anterior y si nos da datos de sus oficinas le podemos estimar las horas necesarias de trabajo diario
                    para la limpieza de sus instalaciones.
                    <br />Dándonos también los días de trabajo que desea a la semana le orientamos sobre la mensualidad a pagar
                    por el servicio.
                </p>
            </div>

            <div class="d-none d-print-block">
                <div class="text-right">
                    <img src="assets/images/vans-header2.jpg">
                </div>

                <h2 class="text-primary">Presupuesto para Comunidades</h2>
                <p>
                    El presente presupuesto tiene una validez de 7 días hábiles.
                    <br> Cualquier ajuste al precio queda sujeto a la tarifa actual.
                </p>
            </div>

            <table class="table table-responsive">
                <tr>
                    <td colspan="2">
                        <div style="width:100%; height:200px; margin-bottom:20px;" class="text-center" id="geomap">
                            Cargando Mapa...
                        </div>
                        <form class="d-print-none">
                            <div class="form-group input-group">
                                <input type="text" id="search_location" class="form-control" placeholder="Buscar dirección...">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary get_map" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-secondary" onclick="ShareLocation()" title="Compartir Ubicación">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Localidad</strong>
                        <p class="d-print-none"> Para poder proporcionarle un presupuesto adecuado, necesitamos saber su localidad. </p>
                        <input type="text" class="text-info search_addr disabled" style="border:none; width:100%" id="direccion">
                    </td>

                    <!--
                    <td style="vertical-align:middle">
                        <button class="btn" style="width: 100%; background: #ccc" onclick="ShareLocation()">                            
                            <h4 class="fas fa-map-marker-alt faa-pulse animated"></h4>
                        </button>                        
                    </td> -->
                    <input type="hidden" id="distancia" />
                    <input type="hidden" class="search_latitude" size="30">
                    <input type="hidden" class="search_longitude" size="30">
                    <input type="hidden" id="provinceName">
                </tr>

                <tr>
                    <td>
                        <strong>Número total de viviendas</strong>
                        <br>
                    </td>
                    <td style="vertical-align:bottom">
                        <input [(ngModel)]="viviendas" id="houses" class="form-control" type="number" value="1" /> </td>
                </tr>
                <tr>
                    <td>
                        <strong>Número de ventanas</strong>
                        <br /> Número aproximado de ventanas que hay en toda la comunidad en las zonas a limpiar.
                        <br> (Ej. si la comunidad tiene 2 escaleras con 5 descansillos en cada escalera y una ventana por descansillo
                        en numero es 10):
                    </td>
                    <td style="vertical-align:bottom">
                        <input id="windows" [(ngModel)]="ventanas" class="form-control" type="number" value="1" /> </td>
                </tr>
                <tr>
                    <td>
                        <strong>Días a la semana que desea el servicio</strong>
                        <br />
                        <div>
                            <input id="mondayBox" type="checkbox" class="daysCheckbox" />
                            <label class="label" for="mondayBox">Lunes</label>

                            <input id="tuesdayBox" type="checkbox" class="daysCheckbox" />
                            <label class="label" for="tuesdayBox">Martes</label>

                            <input id="wednesdayBox" type="checkbox" class="daysCheckbox" />
                            <label class="label" for="wednesdayBox">Miércoles</label>

                            <input id="thursdayBox" type="checkbox" class="daysCheckbox" />
                            <label class="label" for="thursdayBox">Jueves</label>

                            <input id="fridayBox" type="checkbox" class="daysCheckbox" />
                            <label class="label" for="fridayBox">Viernes</label>

                            <input id="saturdayBox" type="checkbox" class="daysCheckbox" />
                            <label class="label" for="saturdayBox">Sábado</label>

                            <input id="sundayBox" type="checkbox" class="daysCheckbox" />
                            <label class="label" for="sundayBox">Domingo</label>
                        </div>
                    </td>
                    <td style="vertical-align:bottom">
                        <strong>Hora</strong>
                        <input class="form-control" type="time" id="myTime">
                        <input id="days" [(ngModel)]="dias" class="form-control" type="hidden" /> </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-success d-print-none" style="width:100%" (click)="CalcularPrecio()"><i class="fas fa-calculator"></i>Calcular</button>
                    </td>
                </tr>
            </table>

            <hr />

            <table class="table table-bordered" id="quoteTable" style="display:none">
                <tr>
                    <td colspan="2" style="text-align:center; font-weight:bold; background-color:#347bd8; color:#fff">PRESUPUESTO ESTIMADO</td>
                </tr>
                <tr>
                    <td>Horas de trabajo al dia para la limpieza de su Comunidad </td>
                    <td class="text-right" id="hours">{{horas}}</td>
                </tr>
                <tr>
                    <td>Precio por hora de trabajo </td>
                    <td class="text-right" id="priceHour">{{precioHora | number}} €</td>
                </tr>
                <tr>
                    <td>Costo semanal, por {{horas}} hora(s) de trabajo diarias en {{dias}} día(s) a la semana </td>
                    <td class="text-right" id="weekHours">{{totalSemanal}} €</td>
                </tr>
                <tr style="font-weight:bold">
                    <td>Importe de la mensualidad en Euros</td>
                    <td class="text-right" id="total"> </td>
                </tr>
                <tr class="d-print-none">
                    <td colspan="2" class="text-right">
                        <button class="btn btn-outline-success" data-toggle="modal" data-target="#formContact">
                            <i class="far fa-handshake"></i> Contratar
                        </button>
                        <button class="btn btn-outline-info" onclick="window.print()">
                            <i class="fas fa-print"></i> Imprimir
                        </button>
                    </td>
                </tr>
            </table>

        </div>

        <div class="modal fade" id="formContact" tabindex="-1" role="dialog" aria-labelledby="formContact" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Solicitud de Servicios</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="name">* Nombre</label>
                                <input required type="text" class="form-control" id="name" placeholder="Ingrese su nombre">
                            </div>
                            <div class="form-group">
                                <label for="email">* Corrreo Electrónico</label>
                                <input required type="email" class="form-control" id="email" placeholder="Ingrese su dirección de correo">
                            </div>
                            <div class="form-group">
                                <label for="telephone">* Teléfono</label>
                                <input required type="tel" class="form-control" id="telephone" placeholder="Ingrese su número telefónico" required>
                            </div>

                            <div class="form-group">
                                <label for="message">Detalles adicionales</label>
                                <textarea class="form-control" id="message"></textarea>
                            </div>
                        </form>

                        <div id="pacifier" style="display:none; background-color: rgba(250,250,250,0.85); background-image:url('/assets/images/loading.gif'); background-size: 60px;
                                        background-position:center; height:100%; width:100%; top:0; left:0; position:absolute; background-repeat: no-repeat;"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" onclick="CondoSend()">Enviar
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>