
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="assets/images/contacto1.jpg" alt="First slide">
        </div>

    </div>

</div>
<div class="blue">
    <div class="carruselTitle">
        <h3>Contáctenos </h3>
    </div>
</div>
<div class="container">

        <div id="contact-form" class="container" style="padding-top: 50px">
                
                <form id="miform" action="" class="form-horizontal" style="padding: 40px">
                        <br>
                        <div class="form-group row">                    
                            <div class="col-12 col-md-6"><input class="form-control text" type="text" id="nombre" name="nombre" value="" placeholder="Su nombre" required="required"></div>
                            <div class="col-12 col-md-6"><input class="form-control text" type="text" id="apellido" name="apellido" value="" placeholder="Apellidos" required="required"></div>
                        </div>
                        
                        <div class="form-group row">                
                            <div class="col-12 col-md-6"><input class="form-control text" type="text" id="telefono" name="telefono" value="" placeholder="Telefono" required="required"></div>
                            <div class="col-12 col-md-6"><input class="form-control text" type="text" id="email" name="email" value="" placeholder="Su Email"></div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 col-md-6"><input class="form-control text" type="text" id="empresa" name="empresa" value="" placeholder="Nombre de la Empresa"></div>                    
                            <div class="col-12 col-md-6"><input class="form-control text" type="text" id="ciudad" name="ciudad" value="" placeholder="Ciudad" required="required"></div>
                        </div>
                        <div class="form-group row">                
                            <div class="col-12">
                                <textarea class="form-control text" rows="4" placeholder="Dinos lo que necesitas" cols="50" id="comentario" name="comentario"></textarea>
                            </div>
                        </div>
                        <div class="form-group row text-center">
                            <input type="button" onclick="enviar_f()" value="Enviar" class="btn btn-success" style="margin-left:auto; margin-right:auto; width: 100px">
                        </div>
                    </form>
                </div>
    
</div>

