<style>
    td {
        text-align: justify
    }
</style>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="assets/images/presupuesto_oficina.jpg" alt="First slide">
        </div>
    </div>
</div>
<div class="blue">
    <div class="carruselTitle">
        <h3>Presupuesto para Oficinas</h3>
    </div>
</div>
<div class="container">
    <br>
    <div class="row" id="section-to-print">
        <div class="col-sm-10 offset-sm-1" style="margin-top: 3em">
            <div class="d-print-none">
                <h2 class="text-primary">Calcule su Presupuesto </h2>
                <p>
                    Si no tiene experiencia anterior y si nos da datos de sus oficinas le podemos estimar las horas necesarias de trabajo diario
                    para la limpieza de sus instalaciones.
                    <br />Dándonos también los días de trabajo que desea a la semana le orientamos sobre la mensualidad a pagar
                    por el servicio.
                </p>
            </div>

            <div class="d-none d-print-block">
                <div class="text-right">
                    <img src="assets/images/vans-header2.jpg">
                </div>

                <h2 class="text-primary">Presupuesto para Oficina</h2>
                <p>
                    El presente presupuesto tiene una validez de 7 días hábiles.
                    <br> Cualquier ajuste al precio queda sujeto a la tarifa actual.
                </p>
            </div>

            <table class="table table-responsive">
                <tr>
                    <td colspan="2">
                        <div style="width:100%; height:200px; margin-bottom:20px;" class="text-center" id="geomap">
                            Cargando Mapa...
                        </div>
                        <form class="d-print-none">
                            <div class="form-group input-group">
                                <input type="text" id="search_location" class="form-control" placeholder="Buscar dirección...">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary get_map" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-secondary" onclick="ShareLocation()" title="Compartir Ubicación">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>
                        <strong>Localidad</strong>
                        <p class="d-print-none"> Para poder proporcionarle un presupuesto adecuado, necesitamos saber su localidad. </p>
                        <input type="text" class="text-info search_addr disabled" style="border:none; width:100%" id="direccion">
                    </td>
                    <input type="hidden" id="distancia" />
                    <input type="hidden" class="search_latitude" size="30">
                    <input type="hidden" class="search_longitude" size="30">

                </tr>

                <tr>
                    <td>
                        <strong>Número de puestos de trabajo</strong>
                        <br /> (Ej. si trabajan 10 personas y cada una tiene una mesa de trabajo el numero seria 10)
                    </td>
                    <td style="vertical-align:bottom">
                        <input id="stations" class="form-control" type="number" value="1" /> </td>
                </tr>
                <tr>
                    <td>
                        <strong>Número de aparatos sanitarios de todos los aseos</strong>
                        <br /> (Ej. si su oficina tiene 2 aseos uno tiene un lavabo y un inodoro -2- y el otro tiene un lavabo
                        un inodoro y una bañera -3- el numero seria 5)
                    </td>
                    <td style="vertical-align:bottom">
                        <input id="bathrooms" class="form-control" type="number" value="1" /> </td>
                </tr>
                <tr>
                    <td>
                        <strong>Número de ventana</strong>
                        <br /> (Ej. si tiene 10 ventanas y una de ellas es doble el numero seria 11)
                    </td>
                    <td style="vertical-align:bottom">
                        <input id="windows" class="form-control" type="number" value="1" /> </td>
                </tr>
                <tr>
                    <td>
                        <strong>Días a la semana que desea el servicio</strong>
                        <br />
                        <div>
                            <input id="mondayBox" type="checkbox" class="daysCheckbox" />
                            <label class="label" for="mondayBox">Lunes</label>

                            <input id="tuesdayBox" type="checkbox" class="daysCheckbox" />
                            <label class="label" for="tuesdayBox">Martes</label>

                            <input id="wednesdayBox" type="checkbox" class="daysCheckbox" />
                            <label class="label" for="wednesdayBox">Miércoles</label>

                            <input id="thursdayBox" type="checkbox" class="daysCheckbox" />
                            <label class="label" for="thursdayBox">Jueves</label>

                            <input id="fridayBox" type="checkbox" class="daysCheckbox" />
                            <label class="label" for="fridayBox">Viernes</label>

                            <input id="saturdayBox" type="checkbox" class="daysCheckbox" />
                            <label class="label" for="saturdayBox">Sábado</label>
                            
                            <input id="sundayBox" type="checkbox" class="daysCheckbox" />
                            <label class="label" for="sundayBox">Domingo</label>
                        </div>
                    </td>
                    <td style="vertical-align:bottom">
                        <strong>Hora</strong>
                        <input class="form-control" type="time" id="myTime">
                        <input id="days" class="form-control" type="hidden" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-success d-print-none" style="width:100%" onclick="Calculate()">Calcular</button>
                    </td>
                </tr>
            </table>

            <hr />

            <table class="table table-bordered" id="quoteTable" style="display:none">
                <tr>
                    <td colspan="2" style="text-align:center; font-weight:bold; background-color:#347bd8; color:#fff">PRESUPUESTO ESTIMADO</td>
                </tr>
                <tr>
                    <td>Horas de trabajo al dia para la limpieza de sus Oficinas </td>
                    <td class="text-right" id="totalHoras"></td>
                </tr>
                <tr>
                    <td>Precio por hora de trabajo </td>
                    <td class="text-right" id="precioHora"></td>
                </tr>
                <tr>
                    <td>Costo semanal, por
                        <strong class="horas"></strong>
                        hora(s) de trabajo diarias en
                        <strong class="dias"></strong> día(s) a la semana </td>
                    <td class="text-right" id="totalSemanal"></td>
                </tr>
                <tr style="font-weight:bold">
                    <td>Importe de la mensualidad en Euros</td>
                    <td class="text-right" id="totalMensual"></td>
                </tr>
                <tr class="d-print-none">
                    <td colspan="2" class="text-right">
                        <button class="btn btn-outline-info" onclick="window.print()">
                            Imprimir
                        </button>
                    </td>
                </tr>
            </table>

        </div>

        <div class="col-sm-10 offset-sm-1" style="margin-top: 3em">
            <p>
                Telefono:
                <a href="tel:902 121 131">902 121 131</a>
                <br> Correo:
                <a href="mailto:admin@serlaux.com">admin@serlaux.com</a>
            </p>
        </div>
    </div>
</div>