
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Content/images/comunidad1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Content/images/comunidad2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Content/images/comunidad3.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="blue">
    <div class="carruselTitle">
        <h3>Limpieza de Comunidades </h3>
    </div>
</div>
<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-4 offset-md-1">
            <p>
                Sin lugar a dudas la limpieza de Comunidades de Propietarios es uno de los servicios donde más se contrata a empresas de limpieza. La razón es muy clara y sencilla, se requiere un alto grado de especialización y profesionalidad en la limpieza de este tipo de viviendas de Propiedad Horizontal.
            </p>
        </div>
        <div class="col-sm-4 offset-md-1">
            <p>
                La limpieza de Comunidades de vecinos necesita de una adecuada coordinación de una multiplicidad de servicios como son la limpieza de fachadas, de cristales y ventanas, de garajes, de fachadas, de piscinas y zonas deportivas, zonas ajardinadas, recogida y gestión de residuos, entre otros.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 offset-md-1">
            <p>
                Una de las cuestiones a tener en cuenta, respecto de los servicios de limpieza y mantenimiento de las Comunidades de Propietarios, es que deben respetar a las múltiples necesidades que las zonas comunes originan para cada uno de los vecinos, creando una sensación de satisfacción para la comunidad como colectivo único.
            </p>
        </div>
        <div class="col-sm-4 offset-md-1">
            <p>
                Nuestro equipo cualificado trabaja para lograr resultados óptimos en la realización de las múltiples actividades objeto de contratación, como por alcanzar la satisfacción de todos y cada uno de los vecinos y de la Comunidad en su conjunto.
            </p>
        </div>
    </div>
</div>

<script>
    $('.nav-item').removeClass('active');
    $('#serviceMenu').addClass('active');
</script>